// Place all the styles related to the register_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* register Page */
.page{
  background-color:  #2196F3;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.float-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

 img.register-logo{
  margin: 0 auto;
  display: flex;
  object-fit: cover; 
  max-width: 147px;
  max-height: 84px;
 }

 .register-form-container{
  padding: 16px;
  margin: 16px 0;
 }
 
 .register-form-content{
  gap: 12px;
  align-self: center;
  justify-self: center; 
  padding: 18px 0;
  flex-direction: column;
  display: flex;
 }

 .bottom-buttons-container{
  gap: 8px;
  display: flex;
 }